@import url('https://fonts.googleapis.com/css?family=Inconsolata|Ubuntu&display=swap');

html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  padding: 10px 0;
  margin-left: 32px !important;
  margin-top: 10px;
}

li {
  list-style: none;
  padding: 14px 4px;
  color: #8D94A4;
}

li:hover {
  color: #dae0eb;
}

li.active {
  background: #2D3039;
}

.submenu {
  padding: 0;
  margin: -10px 0 0 14px !important;
}

.thirdlevel {
  padding: 0;
  margin: -10px 0 0 14px !important;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  background: #191B20;
  height: 100%;
  min-height: 100%;
  z-index: 300;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.badge {
  background: #e81d1d;
  padding: 1px 6px;
  border-radius: 12px;
  color: white;
}

.jaasmenu {
  border-bottom: 1px solid #393e48;
  padding-bottom: 6px;
}

.green {
  color: #82C938;
}

.spacing {
  padding-left: 71px;
  display: block;
}

.model {
  position: absolute;
  width: calc(100% - 40px);
  background: #f1f1f1;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}

.shell {
  color: #f2f2f2;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 201;
  background: #262A31;
  width: calc(100% - 40px);
  height: 260px;
}

.collapsedshell {
  color: #f2f2f2;
  font-family: 'Inconsolata', monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 200;
  background: #191B20;
  width: calc(100% - 40px);
  height: 35px;
}

.shell .header,
.collapsedshell .header {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  padding: 8px 14px;
  background: #0E0D0D;
}

.shell p {
  padding: 8px 14px;
}

.shell .chevron,
.collapsedshell .chevron {
  position: absolute;
  right: 0;
  top: 0;
}

.shell .chevicon,
.collapsedshell .chevicon {
  width: 70%;
}

.topology {
  width: 30%;
  background: #f7f7f7;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modelimg {
  width: 70%;
  margin: 20px 0 0 78px;
}

.modelinfo table {
  text-align: left;
  width: 100%;
  padding: 20px;
}

.modelinfo th {
  font-size: 14px;
  color: #686868;
}

.modelinfo td {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.jujustatus {
  width: 70%;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
